body {
  display: flex;
  align-items: flex-start;
  
  font-family: arial;
  /* font-size: 1em; */
}

#glCanvas {
  /* width: 640px;
  height: 480px; */
  border: 1px solid black;
  margin-right: 10px;
  
}

.rotation-slider-group {
  display: flex;
  align-items: center;
}

.rotation-slider,
.rotation-value {
  margin-left: 10px;
}